button {
  all: unset;
}

.root {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;

  padding: 16px;

  .wrapper {
    display: flex;
    align-items: center;

    .item {
      width: 10px;
      height: 10px;

      background-color: transparent;
      border: 1.5px solid var(--color-accent-500);
      border-radius: 100%;
      box-shadow: 0 0 0.5px 11px transparent;

      transition: all 0.3s ease;

      &:focus-visible {
        background-color: var(--color-dark-700);
        box-shadow: 0 0 0.5px 11px var(--color-dark-700);
      }

      &:hover {
        cursor: pointer;
        background-color: var(--color-dark-500);
        box-shadow: 0 0 0.5px 11px var(--color-dark-500);
      }

      &:active {
        background-color: var(--color-accent-900);
        box-shadow: 0 0 0.5px 11px var(--color-accent-900);
      }

      &:disabled {
        background-color: transparent;
        border: 1.5px solid var(--color-accent-900);
        box-shadow: none;
      }
    }

    .indicator {
      position: relative;

      display: flex;
      align-items: center;
      justify-content: center;

      width: 100%;
      height: 100%;

      &::after {
        content: '';

        display: block;

        width: 6px;
        height: 6px;

        background-color: var(--color-accent-500);
        border-radius: 50%;

        transition: all 0.3s ease;
      }

      &[data-disabled]::after {
        background-color: var(--color-accent-900);
      }
    }

    .label {
      padding-left: 12px;
      color: var(--color-light-100);
      transition: all 0.3s ease;

      &[aria-label='disabled'] {
        color: var(--color-light-900);
      }
    }
  }
}
