.container {
  width: 100%;
}

.fieldBack {
  cursor: pointer;
  display: inline-flex;
  gap: 5px;
  margin-top: 30px;
}

.packsList {
  display: flex;
  justify-content: space-between;
  padding: 80px 0 30px;
}

.modalTitle {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-dark-500);
  padding: 0 0 20px 20px;
}

.pointer {
  cursor: pointer;

  svg {
    margin-left: 7px;
  }
}

.myPackWrapper {
  display: flex;
  gap: 15px;
}

.dropItem {
  cursor: pointer;
  padding: 5px 3px;
}

.searchInput {
  flex-direction: row;
  width: 100% !important;
  margin-bottom: 30px;
}

.starsAndIcons {
  display: flex;
  justify-content: space-between;
}

.image {
  max-width: 150px;
  max-height: 50px;
  float: left;
  margin-right: 10px;
}

.IconButtonMyPack {
  position: absolute;
  top: 20px;
  right: 20px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 25px;
  height: 25px;

  font-family: inherit;
  color: var(--violet-11);

  border-radius: 100%;
}

.IconButtonMyPack:hover {
  background-color: var(--color-dark-100);
}
