.CheckEmailRoot {
  width: 420px;
  padding: 37px 36px 44px;
  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-500);
}

.CheckEmailHeader {
  margin-bottom: 27px;
  color: var(--color-light-100);
  text-align: center;
}

.CheckEmailText {
  margin: 20px 0 50px;
  color: var(--color-light-900);
  text-align: center;
}
