.root {
  display: grid;
  place-items: center;
  height: 100vh;
}

.loader {
  transform: rotateZ(45deg);

  width: 10vw;
  height: 10vw;

  color: var(--color-light-100);

  perspective: 1000px;
  border-radius: 50%;
}

.loader::before,
.loader::after {
  content: '';

  position: absolute;
  top: 0;
  left: 0;
  transform: rotateX(70deg);

  display: block;

  width: inherit;
  height: inherit;

  border-radius: 50%;

  animation: 1s spin linear infinite;
}

.loader::after {
  transform: rotateY(70deg);
  color: var(--color-accent-500);
  animation-delay: 0.4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: 0.2em 0 0 0 currentcolor;
  }

  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }

  25% {
    box-shadow: 0 0.2em 0 0 currentcolor;
  }

  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }

  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }

  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }

  75% {
    box-shadow: 0 -0.2em 0 0 currentcolor;
  }

  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}
