.CreatePasswordWrapper {
  width: 420px;
  padding: 33px 36px 29px;
  background-color: var(--color-dark-700);
}

.CreatePasswordTitle {
  align-self: center;
  margin-bottom: 3.187rem;
  color: var(--color-light-100);
}

.CreatePasswordForm {
  display: inline-flex;
  flex-direction: column;
}

.CreatePasswordInfo {
  margin-bottom: 2.562rem;
  color: var(--color-dark-100);
}

.CreatePasswordSubmit {
  margin-bottom: 2.562rem;
  color: var(--color-dark-100);
}
