.CreatePasswordWrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: stretch;

  width: 26.25rem;
  margin: 2.25rem auto 0;
  padding: 2.06rem 2.25rem 1.81rem;
}

.CreatePasswordTitle {
  align-self: center;
  margin-bottom: 3.187rem;
  color: var(--color-light-100);
}

.CreatePasswordForm {
  display: inline-flex;
  flex-direction: column;
}

.CreatePasswordInfo {
  margin-bottom: 2.562rem;
  color: var(--color-dark-100);
}

.CreatePasswordSubmit {
  margin-bottom: 2.562rem;
  color: var(--color-dark-100);
}
