@import '/src/components/packs/packs-list/packs.module';

.container {
  padding: 0 10vw;
}

.fieldBack {
  display: inline-flex;
  gap: 5px;
  margin-top: 30px;
  cursor: pointer;
}

.packsList {
  display: flex;
  justify-content: space-between;
  padding: 80px 0 30px 0;
}

.pointer {
  cursor: pointer;
  svg {
    margin-left: 7px;
  }
}

.myPackWrapper {
  display: flex;
  gap: 15px;
}

.dropItem {
  padding: 5px 3px;
  cursor: pointer;
}

.searchInput {
  flex-direction: row;
  width: 100% !important;
  margin-bottom: 30px;
}

.starsAndIcons {
  display: flex;
  justify-content: space-between;
}

.IconButton {
  @include IButton;
}
