.container {
  width: 100%;

  .fieldBack {
    cursor: pointer;
    display: inline-flex;
    gap: 5px;
    margin-top: 30px;
  }

  .namePack {
    margin: 30px 0 70px;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;

    //button {
    //  width: fit-content;
    //  margin-top: 30px;
    //}
  }

  .text {
    margin-bottom: 30px;
    color: var(--color-dark-100);
  }

  .IconButton {
    position: absolute;
    top: 20px;
    right: 20px;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 25px;
    height: 25px;

    font-family: inherit;
    color: var(--violet-11);

    border-radius: 100%;
  }

  .IconButton:hover {
    background-color: var(--color-dark-100);
  }
}

.IconButtonEmpty {
  position: absolute;
  top: 20px;
  right: 20px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 25px;
  height: 25px;

  font-family: inherit;
  color: var(--violet-11);

  border-radius: 100%;
}

.IconButtonEmpty:hover {
  background-color: var(--color-dark-100);
}

.modalTitle {
  display: flex;
  justify-content: space-between;
  padding: 0 0 20px 20px;
  border-bottom: 1px solid var(--color-dark-500);
}