.container {
  padding: 0 10vw;
}

.iconAndDescription {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.avatar {
  display: flex;
  gap: 20px;
  margin-right: 15px;
}

.packsList {
  display: flex;
  justify-content: space-between;
  padding: 104px 0 5px;
}

.controlPanel {
  display: flex;
  gap: 30px;
  align-items: end;
  justify-content: space-between;
}

.wrapperTable {
  margin-top: 50px;
}

.lastCell {
  cursor: pointer;
  display: flex;
  gap: 7px;
  justify-content: end;
}



.iconVector {
  padding: 2px;

  svg {
    display: inline-grid;
    place-content: center;
  }
}

.onChangeVector {
  cursor: pointer;
}

.searchInput {
  flex-direction: row;
  width: 100%;
}

.IconButton {
  position: absolute;
  top: 20px;
  right: 20px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 25px;
  height: 25px;

  font-family: inherit;
  color: var(--violet-11);

  border-radius: 100%;
}

.IconButton:hover {
  background-color: var(--color-dark-100);
}

.coverStyle {
  max-width: 150px;
  max-height: 50px;

  //float: left;
  margin-right: 10px;
}

.wrapCell {
  display: flex;
  align-items: center;
}

.notFound {
  margin: 50px;
  text-align: center;
}

.link {
  color: var(--color-light-100);
  text-decoration: none;
}
