@mixin IButton {
  position: absolute;
  top: 20px;
  right: 20px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 25px;
  height: 25px;

  font-family: inherit;
  color: var(--violet-11);

  border-radius: 100%;
}

.container {
  width: 100%;
}

.iconAndDescription {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.avatar {
  display: flex;
  gap: 20px;
  margin-right: 15px;
}

.packsList {
  display: flex;
  justify-content: space-between;
  padding: 104px 0 5px;
}

.modalTitle {
  display: flex;
  justify-content: space-between;
  padding: 0 0 20px 20px;
  border-bottom: 1px solid var(--color-dark-500);
}

.controlPanel {
  display: flex;
  flex-flow: row wrap;
  gap: 1.8vw;
  align-items: end;
  justify-content: space-between;

  width: 100%;
}

.wrapperTable {
  margin-top: 50px;
}

.lastCell {
  cursor: pointer;
  display: flex;
  gap: 7px;
  justify-content: end;
}

.onChangeVector {
  cursor: pointer;
}

.searchInput {
  flex-direction: row;
  width: 250px;
}

.IconButton {
  @include IButton;
}

.IconButton:hover {
  background-color: var(--color-dark-100);
}

.coverStyle {
  max-width: 150px;
  max-height: 50px;
  margin-right: 10px;
}

.notFound {
  margin: 50px;
  text-align: center;
}

.ClearFilter {
  margin-left: auto;
}

.CellText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.HeadCellButton {
  gap: 3px;
  color: var(--color-light-100);

  //border: 1px solid blue; // Стили по умолчанию

  //@media (min-width: $minBreakpoint) and (max-width: $maxBreakpoint) {
  //  border: 1px solid red; // Примените стили в диапазоне от 900 до 1000
  //}
}

.HeadCellButtonIcon {
  width: 12px;
  height: 12px;
  transition: transform 0.3s ease-in-out;
}

.HeadCellButtonIcon_Is_Flipped {
  transform: rotate(-180deg);
}

.CellLink {
  position: relative;

  display: inline-flex;
  align-items: center;

  max-width: 100%;
  padding: 3px;

  color: var(--color-light-100);
  text-decoration: none;

  border: 1px solid transparent;
}

.ModalCell {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;

  display: none;

  width: max-content;
  max-width: 500%;
  padding: 3px;

  background-color: var(--color-dark-900);
  border: 1px solid var(--color-accent-500);
  border-radius: 3px;
}

.CellLink:hover .ModalCell {
  display: flex;
  align-items: center;
}

.ModalCellText {
  max-width: 500%;
  color: var(--color-dark-100);;
}
