@mixin photo-text {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 100px;
  border: 1px solid var(--color-dark-500);
  padding: 15px;
}
.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-dark-500);
  padding: 20px;
}

.content {
  padding: 20px 20px 0 20px;
}

.selectFormat {
  justify-content: space-between;
  padding: 5px 10px;
  margin-bottom: 20px;
}

.cardImage {
  display: none;
}

.questionImg, .answerImg {
  @include photo-text
}

.image {
  width: 85px;
  height: 80px;
  object-fit: cover;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}