.ControlsRoot {
  display: flex;
  justify-content: space-between;
  padding: 104px 0 5px;
}

.ModalTitle {
  display: flex;
  justify-content: space-between;
  padding: 0 0 20px 20px;
  border-bottom: 1px solid var(--color-dark-500);
}

.ModalIconButton {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 25px;
  height: 25px;
  border-radius: 100%;
}

.IconButton:hover {
  background-color: var(--color-dark-100);
}

.ControlsPanel {
  display: flex;
  flex-flow: row wrap;
  gap: 1.8vw;
  align-items: end;
  justify-content: space-between;

  width: 100%;
}

.ControlsPanelSearchInput {
  flex-direction: row;
  width: 250px;
}

.ControlsClearFilter {
  margin-left: auto;
}
