/* reset */
button {
  all: unset;
}

.DropdownMenuContent {
  background-color: var(--color-dark-500);
  border-radius: 6px;
  padding: 5px;
  border: 1px solid var(--color-dark-100);
}

.iconTriangle {
  width: 7px;
  height: 7px;
  transform: rotate(225deg);
  transform-origin: center center;
  background-color: var(--color-dark-500);
  border-left: 1px solid var(--color-dark-100);
  border-top: 1px solid var(--color-dark-100);
  position: absolute;
  top: -4px;
  left: -4px;
  z-index: 999;
}

.DropdownMenuItem {
  font-size: 13px;
  line-height: 1;
  color: var(--color-light-100);
  border-radius: 3px;
  display: flex;
  align-items: center;
  height: 25px;
  padding: 20px 6px 20px 6px;
  position: relative;
  user-select: none;
  outline: none;
  svg {
    margin-right: 5px;
  }
  .iconAndDescription {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}

.DropdownMenuSeparator {
  height: 1px;
  background-color: var(--color-dark-100);
  margin: 5px;
}

.DropdownMenuArrow {
  fill: var(--color-dark-500);
}
