.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-dark-500);
  padding: 20px;
}

.content {
  padding: 20px;
}

.item {
  display: flex;
  justify-content: space-between;
  height: 100px;
  margin: 30px 0;
  border: 1px solid var(--color-dark-500);
  padding: 5px;
}

.imageWrap {
  display: flex;
  align-items: center;
}

.cover {
  display: none;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
