.Skeleton {
  display: flex;
  width: 70px;
  height: 100%;
}

// TODO откорректировать стили

.root {
  display: flex;
  align-items: center;
  justify-content: center;
}

.trigger {
  pointer-events: auto;

  width: 36px;
  height: 36px;

  background-color: var(--color-dark-900);
  border-radius: 50%;

  transition: opacity 0.3s ease;

  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }
}

.userName {
  margin-right: 0.875rem;
  border-bottom: 1px dashed var(--color-light-100);
}

.dropdownItem {
  gap: 0.5rem;

  box-sizing: border-box;
  width: calc(217px - 0.75rem * 2 - 0.75rem);
  margin: 0 0.75rem;
  padding: 0;

  border-bottom: 1px solid var(--color-dark-500);

  // TODO лучше убрать после редактирования dropdown
  svg {
    margin-right: 0;
  }

  &:last-of-type {
    border-bottom: none;
  }

  .userInfoWrapper {
    display: flex;
    flex-direction: column;
    padding: 0.75rem 0;

    .userInfoName {
      color: var(--font-weight-bold);
    }

    .userInfoEmail {
      color: var(--color-dark-100);
    }
  }

  .button {
    --font-family-primary: 'Roboto', sans-serif;

    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: start;

    padding: 0.75rem 0;

    font-size: var(--font-size-s);
    font-weight: var(--font-weight-regular);
    font-style: normal;
    line-height: var(--line-height-s);
    color: var(--color-light-100);

    background-color: transparent;
    outline: transparent;
    box-shadow: none;

    transition: opacity 0.3s ease;

    &:hover {
      cursor: pointer;
      opacity: 0.5;
    }
  }
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: start;

  box-sizing: border-box;
  width: 100%;
  padding: 0 10.625vw;
}
