@mixin button() {
  user-select: none;

  display: inline-flex;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  padding: 0.375rem 1.75rem;

  font-family: var(--font-family-primary);
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-bold);
  font-style: normal;
  line-height: var(--line-height-m);
  color: transparent;
  text-align: center;
  text-decoration: none;

  background-color: transparent;
  border: none;
  border-radius: 0.25rem;

  // TODO Анна Вынести в переменную? Создать папку в styles? как назвать?
  transition: all 0.3s ease;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    border: 2px solid var(--color-info-700);
  }

  &:disabled {
    pointer-events: none;
    cursor: not-allowed;
  }
}

.primary {
  @include button;

  color: var(--color-light-100);
  background-color: var(--color-accent-500);

  // TODO Анна Возможно ли взять цвет из _colors.css?
  box-shadow: 0 4px 18px 0 rgb(140 97 255 / 35%);

  &:active {
    background: var(--color-accent-700);
  }

  &:hover {
    background: var(--color-accent-300);
  }

  &:focus {
    background: var(--color-accent-500);
  }

  &:disabled {
    color: var(--color-light-900);
    background-color: var(--color-accent-900);
  }
}

.secondary {
  @include button;

  color: var(--color-light-100);
  background: var(--color-dark-300);
  box-shadow: 0 2px 10px 0 rgb(109 109 109 / 25%);

  &:active {
    background: var(--color-dark-500);
  }

  &:hover {
    background: var(--color-dark-100);
  }

  &:focus {
    background: var(--color-dark-300);
  }

  &:disabled {
    color: var(--color-light-900);
    background: var(--color-dark-300);
  }
}

.tertiary {
  @include button;

  color: var(--color-accent-500);
  border: 1px solid var(--color-accent-500);

  &:active {
    background: var(--color-accent-900);
    border: 1px solid var(--color-accent-700);
  }

  &:hover {
    background: var(--color-dark-500);
    border: 1px solid var(--color-accent-700);
  }

  &:focus {
    border: 2px solid var(--color-info-700);
  }

  &:disabled {
    color: var(--color-accent-900);
    border: 1px solid var(--color-accent-900);
  }
}

.link {
  @include button;

  color: var(--color-accent-500);

  &:active {
    color: var(--color-accent-700);
  }

  &:hover {
    color: var(--color-accent-300);
  }

  &:focus {
    color: var(--color-accent-500);
  }

  &:disabled {
    color: var(--color-accent-900);
  }
}

.fullWidth {
  width: 100%;
}
