button {
  all: unset;
}

.wrapper {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  .checkboxWrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 2.25rem;
    height: 2.25rem;

    background-color: transparent;
    border-radius: 50%;

    &:hover,
    &:hover .root:not([data-state='checked']) {
      background: var(--color-dark-500);
    }

    &:focus-within {
      background: var(--color-dark-100);
    }

    &:active:not(.disabled) {
      background: var(--color-dark-100);
    }

    &.disabled {
      background-color: transparent;
    }

    .checkbox {
      cursor: pointer;

      position: relative;

      display: flex;
      align-items: center;
      justify-content: center;

      box-sizing: border-box;
      width: 18px;
      height: 18px;

      background: var(--color-light-100);
      border-radius: 3px;

      &[data-disabled] {
        cursor: default;
      }

      &[data-state='unchecked'] {
        background: transparent;
        border: 2px solid var(--color-light-900);
      }

      &[data-state='checked'][data-disabled] {
        background: var(--color-dark-100);
        border-radius: 3px;
      }

      .checkboxIndicator {
        width: 100%;
        height: 100%;
        color: var(--color-dark-900);

        &[data-state='unchecked'][data-disabled] {
          border: 2px solid var(--color-dark-100);
        }

        &[data-state='checked'][data-disabled] {
          color: var(--color-light-100);
        }

        .checkIcon {
          width: 22px;
          height: 22px;
          margin-top: -2px;
          margin-left: -2px;
        }
      }
    }
  }

  .label {
    cursor: pointer;
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-m);
  }
}