.colorText {
  color: var(--color-light-100);
}

.TenTryText {
  color: var(--color-dark-100);
}

.endStudy {
  margin-top: 20px;
}

.rateText {
  color: var(--color-light-100);
  margin-top: 15px;
}

.radio {
  margin-bottom: 20px;
}

.boxImg {
  text-align: center;
}

.learnImg {
  max-width: 200px;
  object-fit: cover;
  margin: 15px auto;
}
