.LearnCardRoot {
  align-items: start;
  width: 420px;
  padding: 33px 36px 29px;
  background-color: var(--color-dark-700);
}

.LearnCardForm {
  width: 100%;
}

.LearnCardTitle {
  align-self: center;
  margin-bottom: 45px;
}

.LearnCardRadioGroup {
  margin: 0;
  padding: 0;
}

.LearnCardTryInfo {
  padding-bottom: 17px;
  color: var(--color-dark-100);
}

.LearnCardBoxImg {
  overflow: hidden;
  align-self: center;

  width: 200px;
  height: 200px;
  margin: 0 auto 15px;

  background: linear-gradient(
    90deg,
    var(--color-dark-700) 25%,
    var(--color-dark-500) 50%,
    var(--color-dark-700) 75%
  );
  background-size: 200% 100%;

  animation: loading 1.5s infinite;
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: -200% 0;
  }
}

.LearnCardImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.LearnCardRateHeader {
  padding-bottom: 13px;
}

.LearnCardEndStudyButton {
  margin-top: 20px;
}

.LearnCardInfo {
  margin-bottom: 15px;
}
