.colorText {
  color: var(--color-light-100);
}

.TenTryText {
  color: var(--color-dark-100);
  margin-bottom: 40px;
}

.endStudy {
  margin-top: 20px;
}

.rateText {
  color: var(--color-light-100);
  margin-top: 15px;
}

.radio {
  margin-bottom: 20px;
}
