.TableRoot {
  margin-top: 50px;
}

.TableHeadCellButton {
  gap: 3px;
  color: var(--color-light-100);
}

.TableHeadCellButtonIcon {
  width: 12px;
  height: 12px;
  transition: transform 0.3s ease-in-out;
}

.TableHeadCellButtonIcon_Is_Flipped {
  transform: rotate(-180deg);
}

.BodyCellLink {
  position: relative;

  display: inline-flex;
  align-items: center;

  max-width: 100%;
  padding: 3px;

  color: var(--color-light-100);
  text-decoration: none;

  border: 1px solid transparent;
}

.ModalCell {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;

  display: none;

  width: max-content;
  max-width: 500%;
  padding: 3px;

  background-color: var(--color-dark-900);
  border: 1px solid var(--color-accent-500);
  border-radius: 3px;
}

.BodyCellLink:hover .ModalCell {
  display: flex;
  align-items: center;
}

.BodyCellCover,
.ModalCellCover {
  max-width: 150px;
  max-height: 50px;
  margin-right: 10px;
}

.BodyCellText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ModalCellText {
  max-width: 500%;
  color: var(--color-dark-100);
}

.LastBodyCell {
  cursor: pointer;
  display: flex;
  gap: 7px;
  justify-content: end;
}

.ModalTitle {
  display: flex;
  justify-content: space-between;
  padding: 0 0 20px 20px;
  border-bottom: 1px solid var(--color-dark-500);
}

.IconButton {
  position: absolute;
  top: 20px;
  right: 20px;

  width: 25px;
  height: 25px;

  border-radius: 100%;
}

.IconButton:hover {
  background-color: var(--color-dark-100);
}
