.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  box-sizing: border-box;
  width: 100%;
  padding: 12px 10vw;

  background: var(--color-dark-700);
  border-bottom: 1px solid var(--color-dark-500);
}
