.DialogOverlay {
  position: fixed;
  inset: 0;

  overflow-y: auto;
  display: grid;
  place-items: center;

  background: rgba(0 0 0 / 50%);
}

.DialogContent {
  width: 450px;
  margin-top: 80px;
  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-500);
}

.DialogContent:focus {
  outline: none;
}

.DialogTitle {
  display: flex;
  justify-content: space-between;
  padding: 0 0 20px 20px;
  border-bottom: 1px solid var(--color-dark-500);
}

.IconButton {
  position: absolute;
  top: 20px;
  right: 20px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 25px;
  height: 25px;

  font-family: inherit;
  color: var(--violet-11);

  border-radius: 100%;
}

.IconButton:hover {
  background-color: var(--color-dark-100);
}
