.card {
  filter: drop-shadow(-1px -1px 2px rgb(0 0 0 / 10%)) drop-shadow(1px 1px 2px rgb(0 0 0 / 10%));

  /* width: 420px;
  height: 552px; */

  fill: var(--dark-700, #171717);
  stroke: #313131;
  stroke-width: 1px;
}
