.card {
  width: 420px;
  height: 552px;

  fill: var(--dark-700, #171717);
  stroke-width: 1px;
  stroke: #313131;
  filter: drop-shadow(-1px -1px 2px rgba(0, 0, 0, 0.10)) drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.10));
}