.wrapperForgot {
  background-color: var(--color-dark-700);
  width: 420px;
  padding: 33px 36px 29px 36px;
}

.textForgot {
  text-align: center;
  color: var(--color-light-100);
  margin-bottom: 50px;
}

.textEmailAddress {
  color: var(--color-light-900);
  text-align: left;
  margin: 5px 0 60px 0;
}

.textAskOfPassword {
  text-align: center;
  color: var(--color-light-900);
  margin: 20px 0;
}

.textTry {
  color: var(--color-accent-500);
  text-align: center;
  cursor: pointer;
  text-decoration-line: underline;
}
