.textEmailAddress {
  margin: 5px 0 60px;
  color: var(--color-light-900);
  text-align: left;
}

.wrapperForgot {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 420px;
  padding: 33px 36px 29px;

  background-color: var(--color-dark-700);

  .headerForgot {
    margin-bottom: 51px;
    color: var(--color-light-100);
  }

  .textEmailAddress {
    margin: 0 0 65px;
    color: var(--color-light-900);
    text-align: left;
    opacity: 0.5;
  }

  .textAskOfPassword {
    margin: 20px 0 11px;
    color: var(--color-light-900);
  }

  .navButton {
    margin: 0;
    padding: 0;
    text-decoration-line: underline;
  }
}
