.ForgotPasswordRoot {
  width: 420px;
  padding: 33px 36px 29px;
  background-color: var(--color-dark-700);
}

.ForgotPasswordHeader {
  margin-bottom: 51px;
  color: var(--color-light-100);
}

.ForgotPasswordText {
  margin: 0 0 65px;
  color: var(--color-light-900);
  text-align: left;
  opacity: 0.5;
}

.ForgotPasswordInfo {
  margin: 20px 0 11px;
  color: var(--color-light-900);
}

.ForgotPasswordLinkButton {
  margin: 0;
  padding: 0;
  text-decoration-line: underline;
}
