.tableRoot {
  border-collapse: collapse;
  width: 100%;
  color: var(--color-light-100);
  border: 1px solid var(--color-dark-500);
}

.tData {
  padding: 0.375rem 1.5rem;
  border-bottom: 1px solid var(--color-dark-500);
}

.thData {
  padding: 0.375rem 1.5rem;
  text-align: inherit;
  background-color: var(--color-dark-500);
}
